<!-- FAQ Accordion -->
<div class="faq-list">
    {% for item in site.data.faq %}
    <div class="faq-item">
        <a href="#faq-{{ forloop.index }}" class="faq-question" aria-expanded="false">
            <span class="faq-question-text">{{ item.question }}</span>
            <span class="faq-icon"><i class="fa-solid fa-plus"></i></span>
        </a>
        <div id="faq-{{ forloop.index }}" class="faq-panel">
            <div class="faq-answer">{{ item.answer }}</div>
        </div>
    </div>
    {% endfor %}
</div>
