<!-- Venue Section -->
{% comment %}
Parameters:
- tutorials: Boolean indicating whether to display the tutorials venue section (default: true)
{% endcomment %}
<section id="venue" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
          <h2>/ Venue</h2>
        </div>
    </div>

    <!-- Main Venue -->
    <div class="row">
        <div class="col-lg-6">
            <p>
                As in the previous years, the main conference is held at the remarkable 
                <strong><a href="https://www.kopernik.org.pl/en" target="_blank">Copernicus Science Centre</a></strong> in Warsaw, Poland.
            </p>
            <p>
                The Centre, standing on the bank of the Vistula River is one of the largest science centres in Europe,
                containing over 450 interactive exhibits.
            </p>
            <h4>
                <i class="fa-solid fa-location-dot"></i> <a href="https://www.google.com/maps/place/Copernicus+Science+Centre/@52.2418585,21.0261522,17z/data=!3m1!4b1!4m6!3m5!1s0x471ecc5ba250ccd1:0x8d6f1b9b8410960!8m2!3d52.2418552!4d21.0287271!16s%2Fm%2F05mwh1p?entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                    Wybrzeże Kościuszkowskie 20, 00-390 Warsaw</a>
            </h4>
        </div>
        <div class="col-lg-6">
            <img class="width-100 photo" src="{{ "./images/misc/centrum-nauki-kopernika-1-optimized.webp" | relative_url }}">
        </div>
    </div>

    <!-- Tutorials Venue -->
    {% unless include.tutorials == false %}
    {% assign tutorials_venue = site.data.venue.venues[site.data.venue.tutorials] %}
    <div class="row" style="margin-top: 55px;">
        <div class="col-lg-8 col-lg-push-4">
            <p>
                The tutorials are held at the <a href="{{ tutorials_venue.url }}" target="_blank"><strong>{{ tutorials_venue.name }}</strong></a>.
            </p>
            <h4>
                <i class="fa-solid fa-location-dot"></i> <a href="{{ tutorials_venue.map-url }}" target="_blank">{{ tutorials_venue.address }}</a>
            </h4>
        </div>
        <div class="col-lg-4 col-lg-pull-8">
            <figure>
                <img class="width-100 photo" src="{{ tutorials_venue.image | relative_url }}" alt="{{ tutorials_venue.image-alt }}">
                {% if tutorials_venue.image-credit %}
                <figcaption class="text-center small" style="margin-top: 0.5rem;">{{ tutorials_venue.image-credit }}</figcaption>
                {% endif %}
            </figure>
        </div>
    </div>
    {% endunless %}
</section>
